@model Bapteme.Models.CustomViewModels.AddContactViewModel
<form asp-controller="ApiRelations"
	  asp-action="post"
	  data-ajax="true"
	  data-ajax-methode="POST"
	  id="AddContactForm">
	<input type="hidden" name="ChildId" id="ChildId" value="" />
	<div class="row">
		<div class="col-md-6">
			<h4>Identité</h4>
			<div class="form-group">
				@Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
				@Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.LastName, new { @class = "control-label" })
				@Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.BirthDate)
				<div class='input-group date' id='dtPickerBirthDate'>
					@Html.TextBoxFor(x => x.BirthDate, new { @class = "form-control" })
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.TelephoneMobile, new { @class = "control-label" })
				@Html.TextBoxFor(x => x.TelephoneMobile, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.Email, new { @class = "control-label" })
				@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
			</div>
		</div>
		<div class="col-md-6">
			<h4>Adresse</h4>
			<div class="form-group">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#newAdresse" aria-expanded="false" aria-controls="newAdresse">
					Utiliser l'adresse de l'enfant.
				</button>
			</div>
			<div class="collapse in" id="newAdresse" >
				<div class="form-group">
					@Html.LabelFor(x => x.Numero, new { @class = "control-label" })
					@Html.TextBoxFor(x => x.Numero, new { @class = "form-control" })
				</div>
				<div class="form-group">
					@Html.LabelFor(x => x.Rue, new { @class = "control-label" })
					@Html.TextBoxFor(x => x.Rue, new { @class = "form-control" })
				</div>
				<div class="form-group">
					@Html.LabelFor(x => x.CP, new { @class = "control-label" })
					@Html.TextBoxFor(x => x.CP, new { @class = "form-control" })
				</div>
				<div class="form-group">
					@Html.LabelFor(x => x.Ville, new { @class = "control-label" })
					@Html.TextBoxFor(x => x.Ville, new { @class = "form-control" })
				</div>
				<div class="form-group">
					@Html.LabelFor(x => x.Complement, new { @class = "control-label" })
					@Html.TextBoxFor(x => x.Complement, new { @class = "form-control" })
				</div>
			</div>
		</div>
	</div>
</form>