@model List<Bapteme.Models.Celebration>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Liste Celebrations</h3>
	</div>
		<div class="panel-group" id="list_celebrations">
				@foreach (Celebration celebration in Model)
				{
					<div id="@("ID" + celebration.Id)" class="panel panel-default" data-celebrationid="@celebration.Id">
						<div class="panel-body">
							<div class="col-md-2">
								<div class="row">
									<div class="col-md-3">
										<div class="date-number">
											@celebration.Date.ToString("dd")
										</div>
									</div>
									<div class="col-md-6">
										<div class="date-string-day">@celebration.Date.ToString("dddd")</div>
										<div class="date-month">@celebration.Date.ToString("MMMM, yyyy")</div>
									</div>
								</div>
							</div>
							<div class="col-md-1">
								<div>@celebration.Date.ToString("HH:mm")</div>
							</div>
							<div class="col-md-2">@celebration.Clocher.Name</div>
							<div class="col-md-6">
								<div class="btn-group" role="group">
										@if (ViewBag.roles.Contains(role.Manager) || User.IsInRole("Admin"))
										{
											<button type="button" class="btn btn-default" 
													data-toggle="collapse" data-parent="#list_celebrations" data-target="#@("list_baptemes" + celebration.Id)">
												List Baptemes<span class="glyphicon glyphicon-arrow-down"></span>
											</button>
											<button type="button" class="btn btn-primary"
													data-toggle="modal"
													data-target="#AddBapteme"
													data-celebrationid="@celebration.Id">
												Ajouter Bapteme
											</button>
											<button onclick="delete_uParoisse('@celebration.Id')" class="btn btn-danger">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
										}
								</div>
							</div>
							<div class="list-baptemes collapse panel-collapse" id="@("list_baptemes" + celebration.Id)" data-celebrationid="@celebration.Id"></div>
						</div>
					</div>
				}
		</div>
</div>

<div class="modal fade modal-AddBapteme" id="AddBapteme" tabindex="-1" role="dialog" aria-labelledby="newBapteme">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="AddBaptemeModalLabel">Ajouter un bapteme</h4>
			</div>
			<div class="modal-body">
				@Html.Partial("~/Views/Bapteme/_addBapteme.cshtml", null, null)
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				<input type="submit" class="btn btn-primary" form="AddBaptemeForm" />
			</div>
		</div>
	</div>
</div>

<div class="modal fade modal-addContacts" id="AddContacts" tabindex="-1" role="dialog" aria-labelledby="addContacts">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="AddContactsModalLabel">Ajouter un Parent/Concact</h4>
			</div>
			<div class="modal-body">
				<div id="listContacts"></div>
				<div>
					@Html.Partial("~/Views/Relations/_addContact.cshtml", null, null)
					<input type="submit" class="btn btn-primary" form="AddContactForm" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function delete_uParoisse(CelebrationId) {
		$.ajax({
			url: "@Url.Action("Delete", "ApiCelebration")",
			type: "DELETE",
			data: { CelebrationId: CelebrationId, __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() },
			success: function () {
				$("#ID" + CelebrationId).remove();
			}
		});
	}

	function SetModalAddBapteme() {
		$('#AddBapteme').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var celebrationId = button.data('celebrationid');
			var modal = $(this);
			modal.find('#CelebrationId').val(celebrationId);
		});
		$('#dtPickerBirthDate').datetimepicker({
			locale: 'fr',
			format: 'DD/MM/YYYY'
		});
		$(".list-baptemes").on('show.bs.collapse', function () {
			reloadBaptemes($(this).data('celebrationid'), false);
		})
		$('#AddContacts').on('show.bs.modal', function (event) {
			console.log("load modale");
			$.ajax({
				url: "@Url.Action("Get" , "ApiRelations")",
				type: "GET",
				data: { ChildId: $("#ChildId").val(), __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() },
				success: function (data) {
					console.log("retour ajax get relations");
					console.log(data);
					$("#listContacts").html(data);
				}
			})
		
		})
	};

	function reloadBaptemesAfterAdd(data)
	{
		$('#AddBapteme').modal('hide');
		reloadBaptemes($("#CelebrationId").val(), true)
		$('#ChildId').val(data);
		$('#AddContacts').modal('show');
	}

	function reloadBaptemes(CelebrationId, force_reload) {
		console.log($("#list_baptemes" + CelebrationId).html()=="");
		if (force_reload || $("#list_baptemes" + CelebrationId).html() == "")
		{
			$.ajax({
				url: "@Url.Action("GetBaptemeForCelebration", "ApiBapteme")",
				type: "GET",
				data: { CelebrationId: CelebrationId, __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() },
				success: function (data)
				{
					$("#list_baptemes" + CelebrationId).html(data);
				}
			})
		}
	}
</script>
