@model IndexViewModel
@{
    ViewData["Title"] = "Profil";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="form-inline">
    <div class="form-group">
        <p class="form-control-static">Mot de passe :</p>
    </div>
    @if (Model.HasPassword)
    {
        <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-default">Changer</a>
    }
    else
    {
        <a asp-controller="Manage" asp-action="SetPassword" class="btn btn-default">Ajouter</a>
    }
</div>

<form id="formProfile" class="form-horizontal">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div id="success" class="text-primary"></div>
	<input asp-for="Id" hidden />
	<div class="form-group">
		<label asp-for="FirstName" class="col-md-4 control-label"></label>
		<div class="col-md-8">
			<input asp-for="FirstName" class="form-control" />
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="LastName" class="col-md-4 control-label"></label>
		<div class="col-md-8">
			<input asp-for="LastName" class="form-control" />
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="BirthName" class="col-md-4 control-label"></label>
		<div class="col-md-8">
			<input asp-for="BirthName" class="form-control" />
			<span asp-validation-for="BirthName" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="TelephonMobile" class="col-md-4 control-label"></label>
		<div class="col-md-8">
			<input asp-for="TelephonMobile" class="form-control" />
			<span asp-validation-for="TelephonMobile" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="BirthDate" class="col-md-4 control-label"></label>
		<div class="input-group date col-md-8" id="datetimepicker">
			<input asp-for="BirthDate" class="form-control" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-default">Modifier</button>
		</div> 
	</div>
</form>

<div id="listContacts"></div>

<button type="button" class="btn btn-primary"
		data-toggle="modal"
		data-target="#AddContact"
		data-userId="@Model.Id">
	Ajouter Contact
</button>

<div class="modal fade modal-addContacts" id="AddContact" tabindex="-1" role="dialog" aria-labelledby="addContacts">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="AddContactsModalLabel">Ajouter un Parent/Concact</h4>
			</div>
			<div class="modal-body">
				<div>
					@Html.Partial("~/Views/Relations/_addContact.cshtml", null, null)
					<input type="submit" class="btn btn-primary" form="AddContactForm" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>




@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
	<script type="text/javascript">
		window.onload = function () {
			var date = new Date(@Model.BirthDate.Year, @Model.BirthDate.Month, @Model.BirthDate.Day);
			$('.date').datetimepicker({
				locale: 'fr',
				format: 'DD/MM/YYYY'
			});

			$("#datetimepicker").data("DateTimePicker").date(date);
			$('#ChildId').val("@Model.Id");

			$("#formProfile").submit(function (event) {
				event.preventDefault();
				$("#success").html("");
				$.ajax({
					type: "PUT",
					url: "@Url.Action("Put", "ApiManage", new { Id = Model.Id })",
					data: $('#formProfile').serialize(),
					dataType: "json",
					success: function (data) {
						$("#success").html("Modification réalisée avec succès.");
					}
				});
			});

			loadContact();
		};

		function loadContact() {
			$.ajax({
				url: "@Url.Action("Get" , "ApiRelations")",
				type: "GET",
				data: { ChildId: $("#Id").val(), __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() },
				success: function (data) {
					$("#listContacts").html(data);
				}
			});
		};

		function reloadContactAfterAdd(data) {
			$("#listContacts").html(data);
			clean_contact_form();
			$('#AddContact').modal('hide');
		};

		function clean_contact_form() {
			$(".contact_to_clean").val("");
		};

		function remove_relation(RelationId) {
			$.ajax({
				url: "@Url.Action("Delete", "ApiRelations")",
				type: "DELETE",
				data: {
					ContactId: "@Model.Id", RelationId: RelationId, __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val()
				},
				success: function () {
					$("#ID" + RelationId).remove();
				}
			});
		};

	</script>
}


